<!-- agency_header_content -->
<header id="widget_agency_header" class="agency_header">
  <div class="agency-hero">

    {agency_pic} <!-- Entweder <video> oder <img> als Hintergrund -->

    <div class="agency-container" style="position: absolute; top:0; left:0; right:0; bottom:0; display: flex; flex-direction: column; align-items: center; justify-content: center; z-index: 2; color: white;">
      <h1 data-aos="zoom-in">{title}</h1>
      <h2 data-aos="fade-up">{description}</h2>
      {link}
    </div>

  </div>
</header>
<!-- END -->
