<!-- parallax_header_content -->
<header id="parallax_header">
  <div class="parallax-image">

    {parallax_pic} <!-- Entweder <video> oder <img> als Hintergrund -->

    <div class="parallax-container" style="position: absolute; top:0; left:0; right:0; bottom:0; display: flex; flex-direction: column; align-items: center; justify-content: center; z-index: 2; color: white;">
      <h1 data-aos="zoom-in">{title}</h1>
      <h2 data-aos="fade-up">{description}</h2>
      {link}
    </div>

    <!-- Optional: Overlay -->
   <!-- <div class="parallax-overlay" style="position: absolute; top:0; left:0; right:0; bottom:0; background: rgba(0,0,0,0.4); z-index:1;"></div>-->

  </div>
  <div class="parallax-after">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>
</header>
<!-- END -->
